@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, #12071f, #2f204e);
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}

.service:nth-child(1) .serviceIcon {
  background-color: #dd4c62;
}

.service:nth-child(2) .serviceIcon {
  background-color: #025656;
}

.service:nth-child(3) .serviceIcon {
  background-color: #6c5c0c;
}