@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-snap-type: y mandatory;
  scroll-behavior: smooth;
}

body {
  background: linear-gradient(to bottom, #12071f, #2f204e);
  color: white;
  min-height: 100vh;
  overflow-x: hidden;
}